nav {
  text-align: center;
  padding: 10px;
  background-color: black;

}
nav a {
  color: white;
  margin: 20px;
  text-decoration: none;
}

img.logo {
  width: 100px;
  height: 100%;
}

body {
  background-color: lightgray;
}

form {
  padding: 80px;
  text-align: center;
  box-shadow: 1px 1px 5px black;
  background-color: black;
  width: 300px;
  margin: 50px auto;
  border-radius: 10px;
}

form label {
 display: block;
 text-align: center;
 margin: 5px;
  color: white;
  font-size: 20px;
}
form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  height: 100px;
  }

 form button {
display: block;
margin: 20px auto;
color: black;
background-color: white;
height: 40px;
width: 100px;
border-radius: 5px;
}

h1 {
  text-align: center;
  color: black;
}

p{
  text-align: center;
  color: white;
  box-shadow: 1px 1px 5px black;
  width: 300px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
}
